# Main Project Primarily managed my programming leads
* @Derby-2024/programming-leads

# Files inside content project folder managed by all leads
/Content/MyProject2/* @Derby-2024/programming-leads @Derby-2024/cgma-leads

# Blueprints and C++ managed by programming leads
/Content/MyProject2/Blueprints/* @Derby-2024/programming-leads
/Source/* @Derby-2024/programming-leads
